@model UploadMessageViewModel
<div class="container jumbotron col-8">
<p><h3>Thank you for uploading your image.</h3></p>
<p><h3>Link: <a href="https://localhost:44378/images/viewimage?id=@Model.Id">https://localhost:44378/images/viewimage?id=@Model.Id</a></h3></p>
<p><h3> Password:  @Model.Password</h3></p>
  </div>