@model March23.Data.Image

<div class="row">
    <div class="col-md-8 offset-md-2">
        <img src="/Uploads/@Model.FileName" style="width: 400px;" />
        <br />
        <h3>Views: @Model.Views</h3>
    </div>
</div>



